<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.gef3d.preferences.GeneralPreferencePage"
            id="de.feu.gef3d.preferences.general"
            name="GEF 3D">
      </page>
      <page
            category="de.feu.gef3d.preferences.general"
            class="org.eclipse.gef3d.preferences.CameraPreferencePage"
            id="de.feu.gef3d.preferences.camera"
            name="Camera">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.gef3d.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.gef3d.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
